/* Importing the fonts which youtube uses */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* Normalizing the html */

* {
  margin:0
}

body {
  width: 99vw;
  margin-left: -1vw;
}

/* All the Variables */

:root {
  --left-side-menu-width: 10%;
  --dominant-area-width: 90%;
  --Font: 'Roboto', sans-serif;
}


/* Header Parents Style and icon */

.clickable{
  cursor: pointer;
}

sup{
  font-family: var(--Font);
  font-weight: bold;
  font-size: 10px;
  margin-top: 10px;
}

.youtube-header {
  display: flex;
  margin-top: 5px;
}

.icon{
  width: 100px;
}

.header-item {
  height: 100%;
}


.toggle-menu-button {
  display: flex;
  width: var(--left-side-menu-width);
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  width: var(--dominant-area-width);
  align-items: center;
}

.header-content div.header-item{
  width: calc(100% / 3);
}

.profile-image-container{
  width: 40px;
  height: 40px;
}

.profile-image-container img {
  border-radius: 190px;
}
.profile-image-container {
  background-color: gray;
  border-radius: 190px;
}


/* All the childrens of Header */

/* Header Child First 1 */

.header-item1 {
  display: flex;
}


/* Header Child 2 */

.header-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item2 span{
  width: 15%;
  text-align: center;
  background-color: rgba(0, 0, 0, 25%);
  height: 60%;
}

.header-item2 input{ 
  height: 60%;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 40%);
}

/* Header Child 3 */
.header-item3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}


.separating-line {
  width: var(--dominant-area-width);
  margin-left: var(--left-side-menu-width);
}

.separating-line hr{
  margin-top: 10px;
  border: 0.1px solid rgba(0, 0, 0, 30%);
  border-radius: 0;
}


/* -----------Rounded icons buttons-------------- */

.rounded-icon-category-parent{
  display: flex;
  width: 90vw;
  gap: 20px;
  margin-top: 10px;
}

.rounded-category{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 25%);
  font-family: var(--Font);
  font-weight: lighter;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 190px;
}


/* ----------Main Video and Menu section is starting here-----*/


/* parent section */
.main-section {
  display: flex;
  margin-top: 30px;
}

/* Child 1st */
.side-bar{
  width: var(--left-side-menu-width);
  display: flex;
  justify-content: center;
}


/* child 2nd */
.videos-section {
  width: var(--dominant-area-width);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 40px;
}

.icon-and-name-template {
  text-align: center;
}

.side-bar h4 {
  font-family: var(--Font);
  font-weight: lighter;
  font-size: 12px;
}

.menu-icon-container{ 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-element:hover{
  cursor: pointer;
  transition: 1000ms;
  transition-delay: 1500ms;
  transform: scale(1.10);
}

.video-element:hover .video-data-container{
  transition: 1000ms;
  transition-delay: 1500ms;
  border: 1px solid rgba(0, 0, 0, 20%);
  border-top: 0;
  background-color: whitesmoke;
} 

.video-data-container {
  display: flex;
  gap: 10px;
}

.video-channel-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.view-date {
  display: flex;
}

.video-info h3{
  font-family: var(--Font);
  font-weight: bold;
  font-size: 15px;
}

.channel-info p, span{
  font-family: var(--Font);
  font-weight: lighter;
  font-size: 13px;
}

.views::after {
  content: attr(views);
  /* content: attr(views) */
}

.days::after {
  content: attr(daysNumber);
}

.channel-name::after {
  content: attr(channel);
}


/* making Layout Responsive with media queries */

@media screen and (max-width: 430px) {
  .toggle-menu-button{
    display: none;
  }

  .header-item2{
    display: none;
  }

  .header-content {
    justify-content: space-between;
  }

  .youtube-header {
    justify-content: space-around;
  }

  .side-bar {
    position: fixed;
    width: 100vw;
    height: 80vh;
    align-items: flex-end;
  }

  .menu-icon-container {
    display: flex;
    width: 100%;
    background-color: gray;
    flex-direction: row;
    justify-content: space-around;
  }

  .videos-section{
    justify-content: center;
    width: calc(var(--left-side-menu-width) + var(--dominant-area-width))
  }

  .main-section {
    margin-bottom: 100px;
  }

  .rounded-icon-category-parent{
    gap: 5px;
  }
}