@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* nutral css */

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}


:root{
    --fontName: 'Press Start 2P';
    --fontSec: 'Roboto';
    --fontSm: 12px;
    --fontM: 14px; 
    --fontLg: 16px;
    --fontXl: 20px;
    --fontXxl: 24px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #121212 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 0px solid #FFFFFF;
  }

  

