*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: 'Roboto', sans-serif;
    --globalPadding: 25px;
    --headerGap: 20px;
    --font: 'Roboto', sans-serif;
    --font-size: 12px;
    --font-big: 17px;
}


/* Layout the Whole section--------------------------------------------------------  */

main{
    display: flex;
    width: 88vw;
    margin: 20px auto;
    gap: 15px;
}

.iframe{
    max-width: calc(100% - 300px);
    width: calc(100% - 300px);
}

.iframe iframe{
    width: 100%;
    height: 76vh;
}

.videoRecommendation{
    max-width: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.videosDetails{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--font);
}

.videosDetails h1{
    font-size: var(--font-big);
}

.videosDetails span{
    font-size: calc(var(--font-size) + 2px)
}

#VideosDesc{
    color: black;
    cursor: pointer;
    border: none;
    font-weight: bold;
}


.separator{
    margin-top: 30px;
    text-align: center;
    color: rgb(148, 148, 148);
}

.videoContainer{
    transition: all 500ms ease-in-out;
}



.videoContainer:hover{
    cursor: pointer;
    transition-delay: 1.5s;
    transform: scale(1.1);
    background-color: whitesmoke;
    border: 0.25px solid rgba(0, 0, 0, 0.3);
}

.mobile-navigation{
    display: none;
}


.material-symbols-outlined{
    cursor: pointer;
}





@media screen and (max-width: 500px) {
    .mobile-navigation{
        display: flex;
        position: fixed;
        justify-content: space-around;
        background-color: whitesmoke;
        border: 0.25px solid rgba(0, 0, 0, 0.3);
        align-items: center;
        bottom: 0;
        left:0;
        right: 0;
    }

    .searchContainer{
        display: none !important;
    }

    .videoRecommendation{
        margin: 0 auto;
    }

    main{
        flex-direction: column;
        margin: 0;
        width: 100vw;
    }

    .iframe{
        width: 100% !important;
        max-width: 100%;
    }

    .iframe iframe{
        height: 30vh;
    }


    .headerSubcontainer{
        gap: 5px !important;
    }

    .header{
        padding: 10px 10px !important;
    }   
}